.img {
   position: relative;
   height: 350px;
   /* background-color: red; */
   /* width: 100%; */
}

.img::before {    
   content: "";
   background: url('./assets/meals.jpg') no-repeat center center/cover;
   
   background-size: cover;
   position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   opacity: 0.55;
}

