.btn {

   padding: 1rem 4rem;
   color: white;
   border-radius: 10rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
   cursor: pointer;
   transition: background-color 0.2s ease;
}

.btn.small-p {
   padding: 1rem 3rem;
}

.btn .meals-number {
   background-color: var(--light-wine);
}

.btn.primary {
   background-color: var(--dark-wine);
}

.btn.primary:hover {
   background-color: #691f01;
}

.btn.secondary {
   background-color: var(--light-wine);

}

.btn.secondary:hover {
   background-color: var(--dark-wine);

}

.btn.tertiary {
   border: 1px solid var(--dark-wine);
   color: var(--dark-wine);
   background-color: transparent;
}

.btn.tertiary:hover {
   opacity: 0.6;
}