.overlay {
   background-color: rgba(0, 0, 0, 0.7);
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.overlay .modal {
   background-color: #f4f4f4;
   padding: 2rem 4rem;
   border-radius: 10px;
   /* height: 300px;
   width: 600px; */
}

/* .modal ul {

} */

.modal .amount {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.modal .buttons {
   display: flex;
   gap: 1rem;
   justify-content: flex-end;
}